<div class="container-fluid pt-5">
    <div class="form-group">
        <label for=""></label>
        <input type="text" [(ngModel)]="term" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
    </div>
    <div class="row">
        <div class="col-4" *ngFor="let posts of users|search:term , let i = index">
            <h3>{{posts.title}}</h3>
            <p>{{posts.body|seemore:50}} <a [routerLink]='["/ay7aga",i]'>see more</a></p>
            <a name="" id="" class="btn btn-success mr-2" [routerLink]='["/edit",i]' role="button">Edit</a>
            <button class="btn btn-danger" (click)="deletePost(posts.id)">Delete</button>
        </div>
    </div>
</div>